<h1>login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>

<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li></li><a href="/logout">LogOut</a></li>
