<h1>login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="name">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>