<h1>secret page</h1>
<p>You Found me</p>
<img src="https://farm8.staticflickr.com/7058/6783162318_8833367307.jpg">


<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li></li><a href="/logout">LogOut</a></li>
